/* @import url("https://fonts.googleapis.com/css?family=Poppins&display=swap"); */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
div {
  margin: 0;
  padding: 0;
  font: 1.05em "Source Sans Pro", sans-serif;
  color: #787878;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

a :focus,
a:hover {
  transition: all 0.5s;
  color: #49bf9d;
}
